#register{
    display: inline-block;
    margin-top: -3px;
    border-radius: 35px;
    border: 1px solid #f7444e;
    background-color: #f7444e;
    color: white;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
 }
 #register:hover{
       color: #f7444e;
       background-color: rgb(255, 255, 255);
 }
 .navbar-nav input{
    margin-top: -4px;
    margin-bottom: 3px;
    border-radius:35px;
    padding-left: 15px;
    border: 1px solid #f7444e;
    outline: none;
 }
 .navbar-nav input:focus{
    border: 2px solid #f7444e;
 }
 .nav_search-btn{
    margin-top: -2px!important;
 }
 #Capa_1{
    margin-top: -3px!important;
 }
 .option2, .option1{
    cursor: pointer;
 }